html, body, #root, .container, .app{
  height: 100%;
}

.header {
  background: #222;
  color: #fafafa;
  position: fixed;
  top: 0;
  height: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 100%;
  z-index: 100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {

  font-family: 'Montserrat',sans-serif;
  font-size: 1.5rem;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #f2f2f2;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 1rem;
}

li {
  cursor: pointer;
  padding: 1rem;
  background: #f2f2f2;
  border-bottom: 1px solid #8c8c8c;
  list-style: none;
  color: #8c8c8c;
}

li:last-child {
  border-bottom: none;
}

.hl {
  font-size: 1.5rem;
  color: #000;
  font-family: Helvetica;
  text-shadow: 0.2rem 0.2rem 0.5rem #fff;
}

.left-panel {
  width: 400px;
  min-width: 250px;
}

.main-panel {
  width: 700px;
  height: 100%;
}

.right-panel {
  width: 400px;
  justify-content: center;
}

.component-container {
  background: white;
  padding: 1rem;
  margin: 0.5rem;
}

.components-header {
  margin: 0.5rem;
  text-align: center;
  border: 1px solid #8F908C;
  padding: 0.5rem;
}

.props-header {
  margin: 0.5rem;
  text-align: center;
  border: 1px solid #8F908C;
  padding: 0.5rem;
}
